// Placeholder to allow customizing styles.
.site-body {
    border-color: transparent!important;
    border-style: solid;
}

.site-title:hover {
    text-decoration: none;
}

.site-nav .trigger li a {
    text-decoration: none;
}

// .site-nav .trigger li a:hover {
//     color: #97BDAB;
// }

.post-list li a {
    // text-decoration: none;
}

#myweb {
    font-size: 50px;
}
 
 

// .read-more-state {
//   display: none;
// }

// .read-more-state:checked ~ .read-more {
//   opacity: 1;
//   font-size: inherit;
//   max-height: 999em;
//   display: inherit;
// }

// .read-more-state ~ .read-more-trigger:before {
//   content: 'Continue reading...';
// }

// .read-more-state:checked ~ .read-more-trigger:before {
//   content: 'Show less...';
// }

// .read-more-trigger {
//   cursor: pointer;
//   padding: 1em .5em;
//   color: #0085bd;
//   font-size: .9em;
//   line-height: 2;
//   border: 1px solid #0085bd;
//   border-radius: .25em;
//   font-weight: 500;
//   display: grid;
//   text-align: center;
// }
